/*base rules for WICD*/

/*typography*/
$fontBody: Open Sans, sans-serif;
$fontHeading: Oswald, serif;

$fontBaseColour: #333;
$fontAccentColour: #FF0025;


body{
	font: $fontBody;
	colour: $fontBaseColour;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
	font: $fontHeading;
	color: $fontAccentColour;
	letter-spacing: .5px;
}

/*colour scheme*/
$accentPrimary: #FF0025;
$accentSecondary: #B20E26;

$whitePrimary: #FFF9FA;
$whiteSecondary: #FFFFFF;

$blackPrimary: #333333;
$blackSecondary: #23191A;


/*white spacing*/

