/*base rules for WICD*/

/*colour scheme*/
$accentPrimary: #FF0025;
$accentSecondary: #B20E26;

$whitePrimary: #FFF9FA;
$whiteSecondary: #FFFFFF;

$blackPrimary: #333333;
$blackSecondary: #23191A;


/*typography*/
$fontBody: 'Open Sans', sans-serif;
$fontHeading: 'Oswald', serif;

$fontBaseColour: #333;


body, p{
	font-family: $fontBody;
	color: $fontBaseColour;
	font-weight: 300;
	font-size: 20px;
	margin: 1%;
}

h1, h2, h3, h4, h5, h6{
	font-family: $fontHeading;
	color: $blackPrimary;
	letter-spacing: 1px;
	margin: 1%;
	padding: 2%;
}

/*add accent colour to first letter of headings one through three only*/
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter{
	color: $accentPrimary;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2.7em;
}

h3{
	font-size: 2.5em;
}

h4{
	font-size: 2em;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

/*white spacing*/
/*vanilla css, no need for variables*/

/*margins*/
.m-t-1{
	margin-top: 2.5%;
}
.m-t-2{
	margin-top: 5%;
}

.m-b-1{
	margin-bottom: 2.5%;
}
.m-b-2{
	margin-bottom: 5%;
}


/*padding*/
.p-a-1{
	padding: 2.5%;
}
.p-a-2{
	padding: 5%;
}