/*rules for elements used in WICD */
/*spotlight portfolio div*/
@import 'base';

.spotlight-div {
  border: 1px solid #ccc;
  padding: 7% 5% !important;
  background: #2d2728;
  color: #FFF9FA;
  transition: all 300ms ease-in-out; }

.spotlight-div:hover {
  background: $accentPrimary;
  color: $blackPrimary;
  transition: $standardTransition;
  cursor: pointer; }

.spotlight-div:nth-of-type(2) {
  border-left: 0.5px;
  border-right: 0.5px; }

.spotlight-cat {
  font-size: .8em; }

.segments {
  margin: 1% 5% !important; }

.segment p {
  font-size: 17px; }

.form {
  padding: 1% 35%; }

.form-input {
  transition: $standardTransition;
  margin: 3% !important; }

.form-input:focus {
  border-color: $accentPrimary !important;
  transition: $standardTransition;; }

.bottom-brand {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

button, .button {
  transition: $standardTransition;
  padding: 3% 4%;
  color: $whitePrimary;
  background: $blackPrimary;
  border: 0;
  border-bottom: 4px solid $accentSecondary;
  border-radius: 5px;
  font-size: 1.4em;
  display: block;
  margin-left: auto;
  margin-right: auto; }

button:hover, .button:hover {
  color: $whitePrimary;
  transition: $standardTransition;
  border-bottom-color: $accentPrimary;
  background: $blackSecondary; }

.social-href {
  display: block;
  margin: 5%; }

.qoute {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2.5em; }

.sixty-six, .ninety-nine {
  font-family: "Oswald", serif;
}

.qoute-sub {
  margin: 3% 0;
  display: block;
  font-size: .4em !important; }

.footer {
  margin: 5% 0;
  padding: 1% !important;
  background: $blackPrimary;
  color: $whiteSecondary;
  border-top: 5px solid $accentPrimary; }

#reviews{
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

.tile-sequence{
    //need to change height to responsive unit
    height: 265px;
    padding: 0;
    background: $blackPrimary;
}

.tile-sequence p, .tile-sequence i{
    color: $whiteSecondary !important;
}
.tile{
    height: 65%;
	width: 50%;
	padding: 7%;
    background: inherit;
}
.tile-accent-left{
    background: $accentPrimary;
    background: -moz-linear-gradient(-45deg, $accentPrimary 0%, $accentSecondary 100%);
    background: -webkit-linear-gradient(-45deg, $accentPrimary 0%, $accentSecondary 100%);
    background: linear-gradient(135deg, $accentPrimary 0%, $accentSecondary 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0025', endColorstr='#B20E26',GradientType=1 );
	text-align: center;
    padding: 10%;
}

.tile-accent-right{
    background: $accentSecondary;
    background: -moz-linear-gradient(-45deg, $accentSecondary 0%, $accentPrimary 100%);
    background: -webkit-linear-gradient(-45deg, $accentSecondary 0%, $accentPrimary 100%);
    background: linear-gradient(135deg, $accentSecondary 0%, $accentPrimary 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B20E26', endColorstr='#FF0025',GradientType=1 );
	text-align: center;
    padding: 10%;
}

.left{
    float: left;
}
.right{
    float: right;
}
/*# sourceMappingURL=elements.scss.map */
