/*rules for elements used in WICD */

/*spotlight portfolio divs */
.spotlight-div{
	margin: 3% 0;
	border: 1px solid #ccc;
}

.spotlight-div:nth-of-type(2){
	border-left: 0.5px;
	border-right: 0.5px;
}

