/*rules for elements used in WICD */
/*spotlight portfolio divs */
@import 'base';

.spotlight-div {
	border: 1px solid #ccc;
	padding: 7% 5% !important;
	background: $blackSecondary;
	color: $whitePrimary;
	transition: $standardTransition;
}

.spotlight-div:hover{
	background: $accentPrimary;
	color: $blackPrimary;
	transition: $standardTransition;
	cursor: pointer;
}

.spotlight-div:nth-of-type(2) {
  	border-left: 0.5px;
  	border-right: 0.5px;
}

.spotlight-cat{
	font-size: .8em;
}


.segments{
	margin: 1% 5% !important;
}
.segment p{
	font-size: 17px;
}

.form{
	padding: 1% 35%;
}

.form-input{
	transition: $standardTransition !important;
	margin: 3% !important;
}
.form-input:focus{
	border-color: $accentPrimary !important;
	transition: $standardTransition;
}

.bottom-brand{
	padding-top: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


//target both the form button and the class
button, .button{
	transition: $standardTransition;
	padding: 3% 4%;
	color: $whitePrimary;
	background: $blackPrimary;
	//reset the border
	border: 0;
	border-bottom: 4px solid $accentSecondary;
	border-radius: 5px;
	//font
	font-size: 1.4em;
	//center
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 10%;
}

button:hover, .button:hover{
	color: $whitePrimary;
	transition: $standardTransition;
	border-bottom-color: $accentPrimary;
	box-shadow: $blackTextShadow;
	background: $blackSecondary;
}


.social-href{
	display: block;
	margin: 5%;
}

.qoute{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 2.5em;
}
.sixty-six, .ninety-nine{
	font-family: $fontHeading;
}
.qoute-sub{
	margin: 3% 0;
	display: block;
	font-size: .4em !important;
}

.footer{
	margin: 5% 0;
	padding: 4%;
	background: $blackPrimary;
	color: $whiteSecondary;
	border-top: 5px solid $accentPrimary;
}
